/*GENERAL SETTINGS*/

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css?family=Raleway')
}

body{
    background: #ffffff;
    color: #3f3f3f;
    font:14px / 28px arial;
    font-family: 'Raleway';
}

h1{
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

h3{
    font-size: 16px;
    color:#500D16;
    transition: all .5s ease;
}
.sectionHeader{
    background: #550D16;
    border-bottom: 6px solid #000000;
    height: 60px;
    color: #ffffff;
    display: inline-block;
    line-height: 60px;   
    font-size: 24px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.sectionArea{
    padding: 80px 0;
}



/*GRID SETTINGS*/

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.featuresBody .container{
    justify-content: space-between;
}

.engineBody .container{
    justify-content: space-between;
}

.col3{
    flex-grow: 1;
    width: 33.33%;
}

.col2{
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}




/*HOME SETTINGS*/
header .logo{
    margin-right: auto;
}

header .logo img{
    display: block;
    height: 70px;
}

.menu li{
    float: left;
}

.menu li a{
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333333;
    transition: all .5s ease;
}

.menu li:hover a{
    background-color: #500D16;
    color: #ffffff;

}

#mainSlider {
    height: 500px;
    background: url('../images/mainCar.jpg') center center no-repeat;
    background-size: cover;
}

.slider{
    width: 100%;
}

#mainCaption{
    height: 500px;
    background: rgba(0, 0, 0, .5);
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
}

.featuresTop{
    text-align: center;
}

.item{
    padding: 10px 20px;

}

.zoom{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.zoom img{
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.item .itemText{
    text-align: center;
    padding: 5px;
    border:1px solid #500D16;

}

.item:hover .zoom img{
    transform: scale(1.25);
}

.item:hover h3{
    color: white;

}
.item:hover .itemText{
    background: #500D16;
    color: white;
    transition: all .5s ease;
}

.btnDetails{
    color: #500D16;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #500D16;
    transition: all .5s ease;
}

.item:hover .btnDetails{
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}

.itemText p{
    margin: 20px 0;
}

.parallaxTop{
    padding-top: 110px;
    padding-bottom: 80px;

}
.parallax {
    background:linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)),url('../images/parallax.jpg') no-repeat center center fixed;
    text-align: center;
    background-size: cover;

  
}

.parallax p{
    color: #ffffff;
}

.engineTop{
    text-align: center;
}

.engineContainer {
    display: block;
    position: relative;
    width: 100%;
}

.imageOver{
    display: block;
    width: 100%;
    height: auto;
}

.engineOverlayLeft{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition:all .5s ease;
    
}

.engineContainer:hover .engineOverlayLeft{
    width: 100%;
}

.engineContainer:hover .engineOverlayRight{
    width: 100%;
    left: 0;
}

.engineText{
    white-space: nowrap;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.engineOverlayRight{
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition:all .5s ease;
    
}

footer{
    background: #500D16;
    text-align: center;

}

.footerItem{
    padding: 20px;
}

.footerItem img{
    height: 50px;
    opacity: .5;
}

.footerItem h3{
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

footer .fa{
    font-size: 30px;
    color: #95A5A6;
    line-height: 50px;
    transition: .3s ease;
    
}

footer .fa:hover{
    color: white;
}

footer p{
    color: #95A5A6;
}
.footerLinks a {
    text-decoration: none;
    color: #95A5A6;
    letter-spacing: 2px;
    transition: .3s ease;
}

.footerLinks a:hover{
    color: #fff;
    text-decoration: underline;
}

.socialLinks li {
    display:inline-block;
    width: 50px;
    height: 50px;
}

/* CARS SETTINGS */
#carsSlider {
    height: 250px;
    background: url('../images/slideImage2.jpg') center center no-repeat;
    background-size: cover;
}

#carsCaption{
    height:250px;
    background: rgba(0, 0, 0, .7);
}

#inspect{
    background-color: #f5f5f5;

}

.inspectTop{
    text-align: center;
}

.inspectBody .col2{
    display: flex;
}

.inspectImage{
    width: 40%;
}

.inspectImage img {
    width: 100%;
    height: auto;
}
.inspectText {
    width: 60%;
    padding-left: 10px;

}

.inspectText  .date{
    color: #333333;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
}

.inspectText h4{
    color: #550D16;
    font-size: 14px;
    font-weight: bold;

}

.inspectText a{
    float: right;
    text-decoration: none;
    color: #550D16;
}

.inspectText a:hover{
    text-decoration: underline;
}

.inspectText .text{
    font-size: 12px;
}

.projectXTop{
    text-align: center;
}

#projectX .containerFluid{
    height: 500px;
    background: url('../images/projectX.jpg') center center no-repeat;
    background-size: cover;
}

.captionPX{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 500px;
    display: flex;
}

.projectXInfo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: 5%;
    padding-right: 5%;
}

.projectXTitle{
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.projectXBtn{
    background-color: #500D16;
    cursor: pointer;
    color: #fff;
    padding: 20px 40px;
    border: none;
    margin-top: 20px;
    transition: all .5s ease;
}

.projectXBtn:hover{
    background-color: #fff;
    color: #500D16;
}

.projectXText{
    color: white;

}

.projectXHighlight{
    display: inline-block;
    background-color: #550D16;
    padding: 30px;
    
}

.containerFluid .col2{
    padding: 0;
}

.projectXDetail li{
    color: #ffffff;
}

/* ABOUT SETTINGS*/
#aboutSlider {
    height: 250px;
    background: url('../images/slideImage3.jpg') center center no-repeat;
    background-size: cover;
}

#aboutCaption{
    height:250px;
    background: rgba(0, 0, 0, .7);
}

#ourHistory{
    background-color:#f5f5f5;

}

.ourHistoryTop{
    text-align: center;
}

.ourHistoryBody .containerFluid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ourHistoryBody .col2{
    display: flex;

}

.ourHistoryDate{
    flex:1;
    text-align: center;
    background-color: #500D16;
    color: white;

}

.ourHistoryDate p{
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ourHistoryImage {
    flex: 2;

}

.ourHistoryImage img{
    height: 100%;
    width: 100%;
}

.ourHistoryText{
    flex: 3;
    margin-left: 10px;

}

.ourHistoryText p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.teamTop{
    text-align: center;
}

.teamBody .containerFluid{
    display: flex;
    width: 100%;
}

.teamMember{
    position: relative;
    width: 100%;
}

.teamMemberImg{
    display: block;
    width: 100%;
    height: 100%;
} 

.teamMemberOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: #500D16;
    transition: .5s ease;

}

.teamMember:hover .teamMemberOverlay{
    opacity: 0;

}

.teamMember:hover .teammemberInfo{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.teamTitle{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.teammemberInfo{
    color: white;
    background-color: rgba(80, 13, 22, .7);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease;
    padding: 20px;
    text-align: center;

}

.memberSocialLinks{
    text-align: center;

}

.memberSocialLinks li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;

}

.memberSocialLinks .fa{
    color: #fff;
}

/*CONTACT SETTINGS*/
#contactSlider {
    height: 250px;
    background: url('../images/slideImage4.jpg') center center no-repeat;
    background-size: cover;
}

#contacttCaption{
    height:250px;
    background: rgba(0, 0, 0, .7);
}
#gallery{
    background-color: #f5f5f5;
}

.galleryTop{
    text-align: center;
}

.gallerySlider {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;

}

.gallerySliderItem {
    width: 300%;
    position: relative;
    left: 0;
    animation: slideAnimation 30s infinite;
}

.gallerySliderItem img{
    width: 33.33%;
    float: left;
    height: auto;

}

@keyframes slideAnimation{
    0%{left: 0;}
    25%{left: -100%;}
    50%{left: -200%;}
    75%{left: -100%;}
    100%{left: 0;}
}

.contactTop{
    text-align: center;
}

.wrapper{
    margin: 0 auto;
    width: 100%;   
}

.contactForm{
    margin: 0 auto;
    width: 60%;
}

.formItem{
    margin-bottom: 10px;
    width: 100%;

}

.formShape{
    color: #fff;
    float: left;
    background: #500D16;
    padding: 8px;
    width: 8%;
    text-align: center;
}

.formField{
    color: white;
    background: #500D16;
    border: none;
    padding: 15.5px;
    width: 93%;
    display: block;
    font-size: 14px;
}

.formBtn{
    display: block;
    border: none;
    background: #500D16;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.formBtn:hover{
    background: #841916;
    
}

/*MEDIA QUERIES*/

 @media screen and (max-width:992px){
    .container{
        max-width: 960px;
    }

    .caption h1{
        font-size: 32px;
        letter-spacing: 2px;

    }

    footer .fa {
        font-size: 24px;
    }

    footer .footerItem h3 {
        font-size: 14px;
        
    }

    .inspectBody .container{
        flex-direction: column;
    }

    .inspectBody .container .col2{
        width: 100%;
    }

    .ourHistoryBody .col2{
        flex-direction: column;
        padding: 5px;
        width: 100%;
    }

    .ourHistoryBody .containerFluid .col2 .ourHistoryImage{
        height: 300px;
    }
}


@media screen and (max-width:768px){

    .container{
        max-width: 720px;
    }

    header .container {
        flex-direction: column;
        align-items: center;
    }

    header .logo{
        margin: 0 auto;
    }


    .caption h1{
        font-size: 28px;
        letter-spacing: 2px;
    }

    .featuresBody .container {
        flex-direction: column;
    }

    .featuresBody .container .col3{
        width: 90%;
        margin: 0 auto;
    }

    .engineBody .container {
        flex-direction: column;
        
    }
    .engineBody .container .col2 {
       width: 90%;
       padding-left: 0;
       padding-right: 0;
       margin: 0 auto;
    }

    footer .container {
        flex-direction: column;
    }
    footer .container .col3 {
        width: 100%;
    }

    .sectionHeader {
        font-size: 24px;
    }

    .teammemberInfo{
        font-size: 14px;
        padding: 10px;
    }

    .teamTitle{
        font-size: 14px;
    }

    .teammemberInfo .fa{
        font-size: 16px;
    }

    .formShape{
        display: none;
    }
     
}

@media screen and (max-width:576px){
    .container{
        max-width: 540px;
    }

    .caption h1 {
        color: red;
       font-size: 20px;
       letter-spacing: 0;
    }

    .featuresBody .container .col3{
        width: 100%;
        margin: 0 auto;
    }

    .engineBody .container .col2 {
        width: 100%;
     }

     .sectionHeader {
        font-size: 20px;
    }

    .contactForm{
        width: 80%;
    }

    .caption h1{
        margin-top: 20px;
    }
    .teammemberInfo{
        width: 80%;
    }

    .inspectBody .col2{
        padding: 0;
        line-height: 22px;
    }

    .menu li a{
        padding: 10px 10px;
        font-size: 10px;
    }
}

/*Arin Yaz覺l覺m Katk覺lar覺yla*/